<form [formGroup]="excerciseForm" (ngSubmit)="onSubmit()" *ngIf="excercise">
    <div class="form-group">
      <div>Name</div>
      <input type="text" formControlName="name"/>
      <div *ngIf="submitted && excerciseF['name'].errors">
        <div  class="invalid-field" *ngIf="excerciseF['name'].errors['required']">name is required</div>
        <div  class="invalid-field" *ngIf="excerciseF['name'].errors['maxlength']">name has to contain less than 50 characters</div>
      </div>
    </div>
    
    <div class="form-group">
      <div>Joint</div>
      <select formControlName="joint">
        <option *ngFor="let joint of joints" [selected]="excercise.joint == joint.id">
          {{joint.id}}
        </option>
      </select>
      <div *ngIf="submitted && excerciseF['joint'].errors">
        <div  class="invalid-field" *ngIf="excerciseF['joint'].errors['required']">joint is required</div>
      </div>
    </div>
  
    <div class="form-group">
      <div>Tools</div>
      <select #tool (change)="onToolChange(tool.value)">
        <option *ngFor="let tool of tools">
          {{tool.id}}
        </option>
      </select>
      <div class="currentTools" *ngIf="excercise.tools.length > 0">
        <div *ngFor="let tool of excercise.tools" class="tools">
            <span>{{tool}}</span>
            <div class="closer" (click)="onRemoveTool(tool)">X</div>
        </div>
      </div>
    </div>
  
    <div class="form-group" style="display: flex" formGroupName="signal">
      <div class="form-group-section">
        <div>Signal</div>
        <select formControlName="name">
          <option *ngFor="let signal of signals" [selected]="excercise.signal.id == signal.id">
            {{signal.id}}
          </option>
        </select>
      </div>
      <div class="form-group-section">
        <label for="name">min</label>
        <input #min type="number" formControlName="min"/>
        <div *ngIf="submitted && signalF['min'].errors">
          <div class="invalid-field" *ngIf="signalF['min'].errors['required']">Minumum number is required</div>
        </div>
        <div *ngIf="submitted && excerciseF['signal'].errors">
          <div class="invalid-field" *ngIf="excerciseF['signal'].errors['minNotLower']">Min has to be lower than max</div>
        </div>
      </div>
       <div class="form-group-section">
        <label for="name">max</label>
        <input #max type="number" formControlName="max"/>
        <div *ngIf="submitted && signalF['max'].errors">
          <div class="invalid-field" *ngIf="signalF['max'].errors['required']">Maximum number is required</div>
        </div>
       </div>
       <div class="form-group-section">
        <label for="name">Rom</label>
        <input style="background:transparent;" value="{{signalF['max'].value - signalF['min'].value}}" disabled>
       </div>
    </div>
    
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Submit</button>
    </div>
  </form>

  