form {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;

    .form-group {
        margin: 2em 0;

        .currentTools {
            margin-top: 1em;
            display: flex;

            .tools {
                display: flex;
                padding: .5em;
                background:rgb(95, 156, 136);
                font-size: .7em;
                border-radius: .5em;
                color: white;
                margin-right: .2em;

                .closer {
                    margin-left: 1em;
                    cursor: pointer;
                }
            }
        }

        .form-group-section {
            width: 100%;
            &:nth-child(-n+3) {
                margin-right: .5em;
            }
        }

        .invalid-field {
            color: red;
        }
        
    }
}
                   
                